.idea
/SLIT/nbproject/private/
/SLIT/SLIT-ejb/nbproject/private/
/SLIT/SLIT-GUI/nbproject/private/
/SLIT/SLIT-GUI/build/
/SLIT/SLIT-GUI/dist/
/SLIT/SLIT-Lib/nbproject/private/
/SLIT/SLIT-Lib/build/
/SLIT/SLIT-Lib/dist/
/SLIT/SLIT-ejb/build/
/SLIT/build/
/SLIT/SLIT-ejb/dist/
/SLIT/Slit-Application/build/
/SLIT/Slit-Application/dist/
/SLIT/Slit-Application/nbproject/private/
/SLIT/dist/